{
  "url": "{{{url}}}",
  "enableOffline": {{#enableOffline}}{{enableOffline}}{{/enableOffline}}{{^enableOffline}}false{{/enableOffline}},
  "requirePin": {{#requirePin}}{{requirePin}}{{/requirePin}}{{^requirePin}}false{{/requirePin}},
  "updateAsync": {{#updateAsync}}{{updateAsync}}{{/updateAsync}}{{^updateAsync}}false{{/updateAsync}},
  "username": "{{username}}",
  "password": "{{password}}"
}