{
  "url": "{{{url}}}",
  "hybridTabletProfile": "{{tabletProfileIdentifier}}",
  "hybridPhoneProfile": "{{phoneProfileIdentifier}}",
  "enableOffline": {{enableOffline}},
  "requirePin": {{requirePin}},
  "username": "{{username}}",
  "password": "{{password}}"
}